.display-container{
    display:flex;
    background-color: #fff;
}
.display-container_displayer{
    margin: 4px 3px 4px auto;
    text-align: right;
    font-size: 4rem;
    height: fit-content;
    align-items: flex-end;
    font-weight: bold;
}