.keyboard{
    width: 100%;
}
.keyboard-top_numbers{
    flex: 0.8;
}
.keyboard-top_operations{
    flex:0.2;
}
.keyboard-container_cell{
    flex:1;
    font-size: 1,5rem;
    min-height: 70px;
    vertical-align: middle;
    background-color: aquamarine;
    border-radius: 3px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.empty{
    background-color: transparent;
    border:none;
}